
.cd-section:first-of-type > div {
  background-color: #2e5367;
}
.cd-section:nth-of-type(2) > div {}
.cd-section:nth-of-type(3) > div {
  background-color: #2e5367;
}
.cd-section:nth-of-type(4) > div {
  background-color: #fcb052;
}
.cd-section:nth-of-type(5) > div {
  background-color: #fcb052;
}
.cd-section:nth-of-type(6) > div {
  background-color: #f06a59;
}
.cd-section:nth-of-type(7) > div {
  background-color: #f06a59;
}
.cd-section:nth-of-type(8) > div {}
.cd-section:nth-of-type(9) > div {
  background-color: #f06a59;
}
.cd-section:nth-of-type(10) > div {
  background-color: #f06a59;
}
.cd-section:nth-of-type(11) > div {}
.cd-section:nth-of-type(12) > div {
  background-color: #f06a59;
}
.cd-section:nth-of-type(13) > div {
  background-color: #f06a59;
}
.cd-section:nth-of-type(14) > div {
  background-color: #f06a59;
}

[data-animation="opacity"] .cd-section > div {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
[data-animation="opacity"] .cd-section:first-of-type > div {
  background-image: url("/eswatini_files/assets/0-miners-ids.jpg");
}
[data-animation="opacity"] .cd-section:nth-of-type(2) > div {}
[data-animation="opacity"] .cd-section:nth-of-type(3) > div {
  background-image: url("/eswatini_files/assets/2-moses-daughter.jpg");
}
[data-animation="opacity"] .cd-section:nth-of-type(4) > div {
  background-image: url("/eswatini_files/assets/3-moses-son.jpg");
}
[data-animation="opacity"] .cd-section:nth-of-type(5) > div {
  background-image: url("/eswatini_files/assets/4-moses-pot.jpg");
}
[data-animation="opacity"] .cd-section:nth-of-type(6) > div {
  background-image: url("/eswatini_files/assets/5-moses-boy.jpg");
}
[data-animation="opacity"] .cd-section:nth-of-type(7) > div {
  background-image: url("/eswatini_files/assets/6-moses-x-ray.jpg");
}
[data-animation="opacity"] .cd-section:nth-of-type(8) > div {}
[data-animation="opacity"] .cd-section:nth-of-type(9) > div {
  background-image: url("/eswatini_files/assets/8-lukhele-wife.jpg");
}
[data-animation="opacity"] .cd-section:nth-of-type(10) > div {
  background-image: url("/eswatini_files/assets/9-lukhele-washline-pic.jpg");
}
[data-animation="opacity"] .cd-section:nth-of-type(11) > div {}
[data-animation="opacity"] .cd-section:nth-of-type(12) > div {
  background-image: url("/eswatini_files/assets/11-dlamini-mug-pic.jpg");
}
[data-animation="opacity"] .cd-section:nth-of-type(13) > div {
  background-image: url("/eswatini_files/assets/12-dlamini-wheelchair.jpg");
}
[data-animation="opacity"] .cd-section:nth-of-type(14) > div {
    background-image: url("/eswatini_files/assets/13-dlamini-eswatini.jpg");
}

@media only screen and (max-width: 1050px) {
  .cd-section:first-of-type > div {}
  .cd-section:nth-of-type(2) > div {
    background-image: url("/eswatini_files/assets/moses-mug-pic.jpg");
  }
  .cd-section:nth-of-type(3) > div {
    background-color: #fcb052;
  }
  .cd-section:nth-of-type(4) > div {
    background-color: #fcb052;
  }
  .cd-section:nth-of-type(5) > div {}
  .cd-section:nth-of-type(6) > div {
    background-color: #f06a59;
  }
  .cd-section:nth-of-type(7) > div {}
  .cd-section:nth-of-type(8) > div {
    background-image: url("/eswatini_files/assets/7-lukhele-mug-pic.jpg");
  }
  .cd-section:nth-of-type(9) > div {}
  .cd-section:nth-of-type(10) > div {}
  .cd-section:nth-of-type(11) > div {
    background-image: url("/eswatini_files/assets/lukhele-chickens-pic.jpg");
  }
  .cd-section:nth-of-type(12) > div {
    background-color: #f06a59;
  }
  .cd-section:nth-of-type(13) > div {
    background-color: #f06a59;
  }
  .cd-section:nth-of-type(14) > div {
    background-color: #f06a59;
  }
}

@media only screen and (min-width: 1050px) {
  [data-hijacking="on"] .cd-section {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  [data-hijacking="on"] .cd-section > div {
    visibility: visible;
  }
  [data-hijacking="off"] .cd-section > div {
    opacity: 0;
  }
  [data-animation="opacity"] .cd-section.visible > div {
    z-index: 1;
  }
}

@media only screen and (min-width: 1050px) {
  .cd-section:first-of-type > div::before {
    display: none;
  }
}
@media only screen and (min-width: 1050px) {
  .cd-section > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}
