
.cd-section:first-of-type > div {
  /*vid*/
}
.cd-section:nth-of-type(2) > div {
  background-color: #2e5367;
}
.cd-section:nth-of-type(3) > div {
  background-color: #2e5367;
}
.cd-section:nth-of-type(4) > div {
  background-color: #fcb052;
}
.cd-section:nth-of-type(5) > div {
  /*vid*/
}
.cd-section:nth-of-type(6) > div {
  background-color: #f06a59;
}
.cd-section:nth-of-type(7) > div {
  background-color: #f06a59;
}

[data-animation="opacity"] .cd-section > div {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
[data-animation="opacity"] .cd-section:first-of-type > div {}
[data-animation="opacity"] .cd-section:nth-of-type(2) > div {
  background-image: url("/lesotho_files/assets/2-Monoka-Lepota-House.jpg");
}
[data-animation="opacity"] .cd-section:nth-of-type(3) > div {
  background-image: url("/lesotho_files/assets/3-Monoka-Lepota-Scan.jpg");
}
[data-animation="opacity"] .cd-section:nth-of-type(4) > div {
  background-image: url("/lesotho_files/assets/4-Monoka-Lepota-Medicine.jpg");
}
[data-animation="opacity"] .cd-section:nth-of-type(5) > div {
  /*vid*/
}
[data-animation="opacity"] .cd-section:nth-of-type(6) > div {
  background-image: url("/lesotho_files/assets/6-Mankosana-Doc.jpg");
}
[data-animation="opacity"] .cd-section:nth-of-type(7) > div {
  background-image: url("/lesotho_files/assets/7-Mankosana-House.jpg");
}
@media only screen and (max-width: 1050px) {
  .cd-section:first-of-type > div {
    background-image: url("/lesotho_files/assets/Monoka-Mug-Pic.jpg");
  }
  .cd-section:nth-of-type(2) > div {
    background-color: #2e5367;
  }
  .cd-section:nth-of-type(3) > div {
    background-color: #fcb052;
  }
  .cd-section:nth-of-type(4) > div {
    background-color: #fcb052;
  }
  .cd-section:nth-of-type(5) > div {
    background-image: url("/lesotho_files/assets/Mankosana-Mug-Pic.jpg");
  }
  .cd-section:nth-of-type(6) > div {
    background-color: #f06a59;
  }
  .cd-section:nth-of-type(7) > div {
    background-color: #fcb052;
  }
}

@media only screen and (min-width: 1050px) {
  [data-hijacking="on"] .cd-section {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  [data-hijacking="on"] .cd-section > div {
    visibility: visible;
  }
  [data-hijacking="off"] .cd-section > div {
    opacity: 0;
  }

  [data-animation="opacity"] .cd-section.visible > div {
    z-index: 1;
  }
}

@media only screen and (min-width: 1050px) {
  .cd-section:first-of-type > div::before {
    display: none;
  }
}
@media only screen and (min-width: 1050px) {
  .cd-section > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}
